:root {
    --text-color: #9a9a9a;
    --text-bold-color: #555;
    --primary-color: #14b9d5;
    --white-color: #fff;

    --height-header: 868px;
    --height-nav-header: 104px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
}

/* Button */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    min-width: 130px;
    font-size: 1.4rem;
    padding: 6px 20px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background-color: var(--white-color);
}

/* Underline */
.underline {
    position: relative;
}
.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(calc(-50%));
    z-index: -1;

    border-width: 0 0 6px;
    border-style: solid;
}

/* Subnav */
.subnav {
    position: absolute;
    background-color: var(--white-color);
    min-width: 190px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    display: none;
}

.subnav__item {
    position: relative;
    height: 48px;
}

.subnav__item--has-2nd-subnav:hover > .subnav-sub {
    display: block;
}

.subnav.subnav-sub {
    position: absolute;
    top: 0;
    right: calc(-100% - 24px);
    display: none;
}

.subnav.subnav-sub::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -26px;
    width: 30px;
}

.subnav__item:hover {
    background-color: #f9f9f9;
}

.subnav__item-link {
    font-size: 1.4rem;  
    line-height: 48px;
    padding: 0 24px;
    letter-spacing: 2px;
    color: var(--text-color);
}

.subnav__item:not(:first-child) {
    border-top: 1px solid #f1f1f1;
}

.subnav__item--hot::after {
    content: "hot";
    display: block;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 6px;
    color: var(--white-color);
    background-color: #f76570;
    border-radius: 4px;
    letter-spacing: 2px;
}

.subnav__item--best::after {
    content: "best";
    display: block;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 6px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    letter-spacing: 2px;
}

.subnav__item--new::after {
    content: "new";
    display: block;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 0 6px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    letter-spacing: 2px;
}

.subnav__item .icon-2nd-subnav {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Packages */
.packages {
    padding-top: 100%;
    position: relative;
}

.packages:hover .packages--hover {
    opacity: 1;
    visibility: visible;
}

.packages:hover .packages--normal {
    opacity: 0;
    visibility: hidden;
}

.packages--normal {
    opacity: 1;
    visibility: visible;
    transition: all .8s;
}

.packages--hover {
    /* display: none; */
    display: flex;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .8s;
}

.packages__heading {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white-color);
    margin: 0 0 20px;
}

.packages__city {
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--white-color);
    height: 28px;
    line-height: 28px;
}

.packages__btn-view {
    color: var(--primary-color);
    margin-top: 20px;
}

.packages__pattern {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.packages__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 30px 30px;
}

.packages__info {
    margin: 0 30px 30px;
    font-size: 2rem;
    color: var(--white-color);
    letter-spacing: 2px;
}

.packages__info-continent {
    margin: 0;
}

.packages__info-quantity {
    margin: 15px 0 0;
    font-size: 1.5rem;
}


